<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TEST PAGE</title>

    <link rel="stylesheet" href="./css/css-test.css">
</head>

<body>

    <h1>Everything is alright, test page works</h1>

    <form action="/test" method="post">

        <label for="info-1">Mon info 1</label>
        <input type="text" name="info" value="4" id="info-1">
        <label for="info-2">Mon info 2</label>
        <input type="text" name="autre chose dans 2" value="Mon info 2" id="info-2">
        <label for="info-3">Mon info 3</label>
        <input type="text" name="info" value="10" id="info-3">
        <label for="info-4">Mon info 4</label>
        <input type="text" name="info" value="2" id="info-4">
        <label for="info-5">Mon info 5</label>
        <input type="text" name="input 5" id="info-5">
        <label for="info-4">Mon info 6</label>
        <input type="text" name="info" value="6" id="info-6">
        <label for="info-4">Mon info 7</label>
        <input type="text" name="info" value="12" id="info-7">
        <label for="info-4">Mon info 8</label>
        <input type="text" name="info" value="8" id="info-8">

        <button type="submit">Submit</button>
    </form>

</body>

</html>